<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anzaiyun.ProviderPayment.mapper.PaymentServiceMapper">

    <select id="FindPayments" resultType="com.anzaiyun.entity.Payment">
        select t.l_payid,t.vc_serial from tpayment t
    </select>

    <select id="FindPaymentBylid" resultType="com.anzaiyun.entity.Payment">
        select t.l_payid,t.vc_serial from tpayment t where t.l_payid = #{l_id}
    </select>

</mapper>